    .search {
        .search_action {
            width: 200px;
            @include media($breakpoint__screen-size--small) {
                width: 100%;
            }
        }
    }
    
    #top-search {
        background-color: $white;
        @include media($breakpoint__screen-size--small) {
            width: 100%;
        }
    }
    
    #top-submit {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    
    .secondary-name {
        float: left;
        padding-right: 0 !important;
    }
    
    .user-login {
        float: right;
    }
    
    .hamburger {
        .mobile-menu {
            display: none;
            @include media($breakpoint__screen-size--small) {
                overflow: hidden;
                text-indent: 101%;
                white-space: nowrap;
                background-color: $ucsc--primary-blue;
                position: absolute;
                right: 20px;
                margin-top: -35px;
                font-weight: 300;
                padding: 10px;
                display: block;
                width: 40px;
                height: 40px;
            }
            &:focus,
            &:hover,
            &:active {
                background-color: $black;
            }
        }
    }