#container,
.container
{
	background: transparent
}

.content
{
	width: 100%;
	margin: 0 auto;
	display: block;
	grid-template-columns: auto;
	grid-template-rows: auto;
	@include grid-media-query($screen-size--small)
		{
			display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: min-content 1fr min-content;
				grid-template-areas: "header"
					"main"
					"footer";
		}
	
.header
{
	@include grid-media-query($screen-size--small)
		{
		grid-area: header;
	}
	.ucsc-header
		{
			
			background-color: #01589d;
			padding: 10px 16px 12px 16px;
	
			.wrap
			{
				display: grid;
				grid-template-columns: 1fr 100px;
				margin-bottom:0;
				@include grid-media-query($screen-size--small){
					grid-template-columns: 1fr min-content;
				}
			}
	
			.ucsc-header-right
			{
				@include grid-media-query($screen-size--small){
				display: grid;
				grid-template-columns:max-content min-content;
				grid-column-start: 2;
				grid-column-end: 3;
				align-items:center;
				}

				display:none;
	
				#topNav
				{
					padding-right:20px;
					@include grid-media-query($screen-size--small){
						display: flex;
				}
					li
					{
						display: inline-block;
						position: relative;
						margin-left: 1.5em;
						line-height: 1.5;
						&:first-child::after{
							display:none;
						}
						&::after
						{
							background-color: #f1af13;
							width: 5px;
							height: 5px;
							border-radius: 50%;
							content: "";
							display: block;
							position: absolute;
							top: 50%;
							left: -0.75em;
							margin-left: -2.5px;
							margin-top: -2.5px;
						}
					}
				}
			}
	
			.ucsc-header-left
			{
				grid-column-start: 1;
				grid-column-end: 3;
				justify-self: left;
				.campus-logo {
				text-indent: -10000px;
					background: transparent url(https://static.ucsc.edu/_responsive/images/logos/uc-santa-cruz-2021-reverse.svg) no-repeat left top;
					display: block;
					width: 110px;
					height: 24px;
					margin-top: 4px;
				}
				@include grid-media-query($screen-size--small){
					grid-column-start: 1;
						grid-column-end: 2;
				}
			}
		}
		.main-header
		{
			.wrap
				{
					display: grid;
					grid-template-columns: 1fr 100px;
					align-items:center;
					margin: 1.5em auto 0.25em auto
				}
			.page-title {
				.title{
					font-size: 1.85rem;
					margin: 0 0 0.25em;
					font-family: "Roboto Condensed", sans-serif;
						text-transform: uppercase;
						line-height: 1.2;
				}
			}
			.user-login {
				#menu {
					.action_menu{
							top:0;
							right:0
					}
				}
			}
		}
	}

	.main
	{
		grid-area: main;
	}

	.main-footer
	{
		background-color: $ucsc--primary-blue;
		grid-area: footer;
		margin-top: calc($spacing-unit * 2);
		padding: 40px 16px 80px 16px;
		color: $white;
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		a
			{
				color: $white;
				text-decoration: underline;
			}
			.wrap
			{
				
		
				@include grid-media-query($screen-size--small)
				{
					display:grid;
					grid-template-columns: max-content 1fr;
				}
			}
		
			.footer-left, .footer-right, .sub-footer
			{
				width:100%;
				grid-template-columns: auto;
				grid-template-rows: auto;
				
				margin: 0 auto;
				
					margin-bottom: 3em;
			}
			.footer-left
			{
				
				@include grid-media-query($screen-size--small)
				{
					grid-template-columns: min-content 1fr;
					align-items: center;
					display: grid;
					
					align-items: center;
					justify-items: center;
				}
			.address
			{
				@include grid-media-query($screen-size--small){
				padding-top: 0;
				padding-left: calc($spacing-unit * 0.625);
			}
				padding-top: calc($spacing-unit * 0.625);

				.location
				{
					@include rem-font-size(.91425);
					padding-right: 0;
					font-weight: 700;
					margin-bottom: 3px;
					@include grid-media-query($screen-size--small) {justify-self: left;
						align-self: left;
						text-align: left;
					}

				}
				.copyright
				{
					@include rem-font-size(.8);
					padding-right: 0;
					margin-bottom: 3px;
					@include grid-media-query($screen-size--small)
						{
							justify-self: left;
							align-self: left;
							text-align: left;
						}
				}
			}
						
			}
		
			.footer-right{
				@include grid-media-query($screen-size--small){
					justify-self: right;
						align-self: center;
						text-align: right;
				}
				.links{
					@include rem-font-size(.8);
				}
			}
		
			.sub-footer{
				@include grid-media-query($screen-size--small){
					grid-column: 1 / 3;
					justify-self:center;
			}
			.legal
				{
					@include rem-font-size(.8);
			
					@include grid-media-query($screen-size--small)
					{
						// display: flex;
						// justify-content: space-between;
						// align-items: center;
						// font-size: 0.8em;
					}
			
					li
					{
						display: inline-block;
						position: relative;
						margin-left: 1.5em;
						line-height: 1.5;
			
						&::after
						{
							background-color: #f1af13;
							width: 5px;
							height: 5px;
							border-radius: 50%;
							content: "";
							display: block;
							position: absolute;
							top: 50%;
							left: -0.75em;
							margin-left: -2.5px;
							margin-top: -2.5px;
						}
					}
				}
			}
		
			
	}
}

.wrap
{
	max-width: 100%;
	margin: 0 auto 16px;
	padding: 0 1em;
	display: block;
	grid-template-columns: auto;
	grid-template-rows: auto;
	@include grid-media-query($screen-size--small){
		max-width: $max-width;
}
	
	}
	
	// #topNav,
	// .global-nav
	// {
	// 	margin: 10px 0;
	// }
	
	// #topNav li,
	// .global-nav li
	// {
	// 	display: inline-block;
	// 	width: 48%;
	// 	margin: 0 0 10px 0;
	// 	padding: 0;
	// 	list-style: none;
	// }
	
	#topNav a,
	.global-nav a
	{
		color: #fff;
}