[class^="icon-"],
[class*=" icon-"] {
    overflow: visible !important;
    text-indent: 0px !important;
    opacity: 1 !important;
    width: auto !important;
    height: auto !important;
    margin-left: 0 !important;
}

.search {
    .search_action {
        width: 100%;
        @include media-query($screen-size--medium)
            {
            width: 200px;
        }
        #top-search {
            margin-bottom: 0px !important;
        }
    }
}

#top-search {
    background-color: $white;
    @include media-query($screen-size--medium)
        {
        width: 100%;
    }
}

#top-submit {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.secondary-name {
    
    padding-right: 0 !important;
    .title-medium {
        @include media-query($screen-size--medium)
            {
            padding-right: 0px !important;
        }
    }
}

.user-login {

    #menu {
        .action_menu {
            @include media-query($screen-size--large)
                {
                top: 0px !important;
                right: 0px !important;
            }
        }
    }
}

.hamburger {
    .mobile-menu
        {
        overflow: hidden;
        text-indent: 101%;
        white-space: nowrap;
        background-color: $ucsc--primary-blue;
        background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20%20fill%3D%22%23f5f4eb%22%20id%3D%22menu-icon%22%20d%3D%22M462%2C163.5H50v-65h412V163.5z%20M462%2C223.5H50v65h412V223.5z%20M462%2C348.5H50v65h412V348.5z%22/%3E%3C/svg%3E%0D%0A);
        background-repeat: no-repeat;
        background-position: 50% center;
        background-size: 1.5em 1.5em;
        position: absolute;
        right: 20px;
        margin-top: -35px;
        font-weight: 300;
        padding: 10px;
        display: block;
        width: 40px;
        height: 40px;
        @include media-query ($screen-size--medium)
            {
                display: none;
        }
        &:focus,
        &:hover,
        &:active {
            background-color: $black;
        }
    }
}

#main {
    .row {
        .lift {
            padding: 0 0 0 15px!important;
            padding: 0 0 0 1.071em!important;
        }
        .alpha {
            padding: 0 15px 0 0;
            padding: 0 1.071em 0 0;
        }
        .omega {
            padding: 53px 0 0 15px;
            padding: 3.786em 0 0 1.071em;
        }
    }
}

.main .featured_carousel .featured_item_wrapper .item img {
    margin: 0;
}

.topbutton {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 15px;
    bottom: 30px;
    z-index: 99999;
    background-repeat: no-repeat;
    display: none;
    .fa {
        color: #fff;
        background-color: #fdc700;
        padding: 0 5px 5px;
        border-radius: 50%;
    }
}

.main-footer {
    a:hover {
        color: #fff;
        text-decoration: none;
    }
}

.subscribe-btn {
    border: none!important;
    a {
        background: none;
        img {
            max-width: 366px;
            width: 100%;
        }
    }
}
