[class^="icon-"],
[class*=" icon-"] {
    overflow: visible !important;
    text-indent: 0px !important;
    opacity: 1 !important;
    width: auto !important;
    height: auto !important;
    margin-left: 0 !important;
}

.search {
    .search_action {
        width: 200px;
        @include media($breakpoint__screen-size--small) {
            width: 100%;
        }
        #top-search {
            margin-bottom: 0px !important;
        }
    }
}

#top-search {
    background-color: $white;
    @include media($breakpoint__screen-size--small) {
        width: 100%;
    }
}

#top-submit {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.secondary-name {
    float: left;
    padding-right: 0 !important;
    .title-medium {
        @include media($breakpoint__screen-size--small) {
            padding-right: 0px !important;
        }
    }
}

.user-login {
    float: right;
    #menu {
        .action_menu {
            @include media($breakpoint__screen-size--medium) {
                top: 0px !important;
                right: 0px !important;
            }
        }
    }
}

.hamburger {
    .mobile-menu {
        display: none;
        @include media($breakpoint__screen-size--small) {
            overflow: hidden;
            text-indent: 101%;
            white-space: nowrap;
            background-color: $ucsc--primary-blue;
            position: absolute;
            right: 20px;
            margin-top: -35px;
            font-weight: 300;
            padding: 10px;
            display: block;
            width: 40px;
            height: 40px;
        }
        &:focus,
        &:hover,
        &:active {
            background-color: $black;
        }
    }
}

#main {
    .row {
        .lift {
            padding: 0 0 0 15px!important;
            padding: 0 0 0 1.071em!important;
        }
        .alpha {
            padding: 0 15px 0 0;
            padding: 0 1.071em 0 0;
        }
        .omega {
            padding: 53px 0 0 15px;
            padding: 3.786em 0 0 1.071em;
        }
    }
}

.main .featured_carousel .featured_item_wrapper .item img {
    margin: 0;
}

.topbutton {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 15px;
    bottom: 30px;
    z-index: 99999;
    background-repeat: no-repeat;
    display: none;
    .fa {
        color: #fff;
        background-color: #fdc700;
        padding: 0 5px 5px;
        border-radius: 50%;
    }
}

.main-footer {
    a:hover {
        color: #fff;
        text-decoration: none;
    }
}

.subscribe-btn {
    border: none!important;
    a {
        background: none;
        img {
            max-width: 366px;
            width: 100%;
        }
    }
}