// Base Colors
//===================
$white: #fff;
$black: #222;
$gray--darkest: #222222;
$gray--dark: #555555;
$gray--medium: #9999a0;
$gray: #c1c4ca;
$gray--light: #e3e3e3;
$gray--lighter: #eee;
$gray--lightest: #f5f5f5;
$red: #c3251d;
$ucsc--primary-blue: #003c6c;
$ucsc--primary-yellow: #fdc700;
$ucsc--light-blue: #006aad;
$ucsc--lighter-blue: #13a5dc;
$ucsc--orange: #f29813;
$ucsc--light-orange: #ffbf00;
$ucsc--green: #93c02d;
$ucsc--blue-green: #007988;
$ucsc--magenta: #da216d;
//
// Font Sizes
//==========================
$base-font-size: 14px;
//
// Widths
//==========================
$spacing-unit: 32px;
$max-width: 67.5em;
//
// Device Screen Sizes
//==========================
$screen-size--small: 767px;
$screen-size--medium: 767px;
$screen-size--large: 959px;


