/*!
URI: https://github.com:ucsc/ucsc-localist-silk-wrapper.git
Author: UC Santa Cruz Communications & Marketing
Author URI: https://www.ucsc.edu
Description: Custom styles for UC Santa Cruz Localist Silk Wrapper
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
*/

@import './variables';
@import './mixins';
@import 'mixins';
@import 'variables';
@import 'flex';
@import 'ucsc-silk';